version: '3.8'

services:
  adminer:
    image: adminer
    container_name: my_adminer
    ports:
      - "8090:8080"
    environment:
      ADMINER_DEFAULT_SERVER: mysql
  mysql:
    image: mysql:latest
    container_name: my_mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: mydb
      MYSQL_USER: user
      MYSQL_PASSWORD: userpassword
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - mysql_config:/etc/mysql/conf.d
      - ./sql_imports:/docker-entrypoint-initdb.d

volumes:
  mysql_data:
  mysql_config: